body {
  margin: 0;
  padding: 0;
  background-color: Black;
}
canvas {
  width: 100%;
  height: 100%;
}
iframe {
  visibility: hidden;
  opacity: 0;
  position: absolute;
}

#overlay1 {
    position: absolute;
    top: 150px;
    width: 100%;
}
#overlay1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

#overlay {
    position: absolute; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
