body {
  margin: 0;
  padding: 0;
  background-color: Black;
  font-family: 'Press Start 2P';
  text-decoration: none;
  color: white;
}

#stretch, img{
  width: 100%;
  height: 100%;
}

#nostretch {
  width: 30%;
  height: 30%;
  margin-left: auto;
  margin-right: auto;
}


/* fuck it for now:

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

iframe {
  visibility: hidden;
  opacity: 0;
  position: absolute;
}

.center {
  text-align: center;
}

.card-image {
  text-align: center;
  max-width: 100%;
}

.become-cat {
  margin: 20px 0;
}
.become-cat .eightbit-btn {
  font-size: 21px;
}

.position-button {
  position: fixed;
  width: 500px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -250px;
  z-index: 1;
=======
#overlay1 {
    position: absolute;
    top: 150px;
    width: 100%;
}
#overlay1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.eightbit-btn {
  cursor: pointer;
  opacity: .9;
  background: #92cd41;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 30px;
  padding: 20px;
  font-family: 'Press Start 2P', cursive;
  text-decoration: none;
  color: white;
  box-shadow: inset -4px -4px 0px 0px #4aa52e;
}
.eightbit-btn:hover, .eightbit-btn:focus {
  opacity: 1;
  background: #76c442;
  box-shadow: inset -6px -6px 0px 0px #4aa52e;
}
.eightbit-btn:active {
  opacity: 1;
  box-shadow: inset 4px 4px 0px 0px #4aa52e;
}
.eightbit-btn:before, .eightbit-btn:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}
.eightbit-btn:before {
  top: -6px;
  left: 0;
  border-top: 6px black solid;
  border-bottom: 6px black solid;
}
.eightbit-btn:after {
  left: -6px;
  top: 0;
  border-left: 6px black solid;
  border-right: 6px black solid;
} */
